<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Main page</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if (data && data.length) { %>
          <ul class="navbar-nav ml-auto">
            <% data.forEach((video) => {%>
              <li class="nav-item">
                <a class="nav-link" href="/<%- video.path %>"><%- video.name %></a>
              </li>
            <% })%>
          </ul>
        <% } %>
      </div>
    </nav>
    <video
      src="/video/<%- videoId %>"
      width="800px"
      height="auto"
      controls
      autoplay
      id="videoPlayer"
    ></video>
  </body>
</html>